#about-container {
	p {
		margin: 16px 0;
		user-select: none;
	}

	#selfie-and-header,
	#selfie-and-text {
		display: flex;
		gap: 16px;
	}

	#selfie-and-text {
		margin: 16px 0;

		p {
			margin: 0;
		}
	}
	#selfie-img {
		background-image: url('/image/selfie.jpg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: var(--primary);
		min-width: 40%;
		height: auto;
		clip-path: circle();

		&.mobile {
			display: none;
			width: auto;
			height: 200px;
		}
	}
}
@media screen and (max-width: 700px) {
	#about-container {
		#selfie-img.desktop {
			display: none;
		}
		#selfie-img.mobile {
			display: block;
		}
		#selfie-and-header {
			flex-direction: column;
		}
	}
}
