#about-container {
	p {
		margin: 16px 0;
	}

	#selfie-and-text {
		display: flex;
		gap: 16px;
		#selfie-text {
			flex: 4 4;
		}
		#selfie-img {
			flex: 1 1;
		}
	}

	#selfie-and-text > div > p:not(:last-child) {
		margin: 16px 0;
	}

	#selfie-and-text {
		margin: 8px 0 16px 0;

		p {
			margin: 0;
		}
	}
	#selfie-img {
		background-image: url('/image/selfie.jpg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-color: var(--primary);
		clip-path: circle();

		min-height: 200px;
		min-width: 200px;
		height: auto;
	}
}

.animating * {
	filter: blur(1px)
}

@media screen and (max-width: 800px) {
	#about-container {
		#selfie-and-text {
			flex-direction: column-reverse;
		}
	}
}
