.collapse-list-container {
	display: flex;
	flex-direction: column;
}
.collapse-list-container button {
	padding: 8px 16px;
	width: 84px;
}
.collapse-list-header {
	display: flex;
	justify-content: space-between;
}
