#sidebar-container {
	min-width: 260px;
	height: 100%;
	padding: 8px;
	overflow-y: auto;
}

header {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 16px;
}

h1,
h2,
h3,
p {
	margin: 0;
}

#sidebar-container section {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#sidebar-container #link-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 16px;

	a {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 100%;
		padding: 8px 16px;
		border-radius: 4px;
	}

	a,
	button {
		background-color: rgba(100, 108, 255, 0.25);

		&:hover {
			color: black;
			background-color: #646cff;
		}

		img.icon {
			height: 24px;
			width: 24px;
		}
	}

	button {
		border: none;
	}
}

.link-section-links {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title-year {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
