#sidebar-container {
	width: fit-content;
	height: 100%;
	padding: 8px;
}

header {
	text-align: center;
	margin-top: 8px;
	margin-bottom: 16px;

	h1, h2 {
		margin: 0;
	}
}

#sidebar-container #link-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	a {
		width: 100%;
		padding: 8px 16px;
		display: block;
		border: 2px solid gray;
		border-radius: 4px;

		&:hover {
			color: black;
			background-color: #646cff;
		}
	}
}
