@mixin sidebar-button-styling {
	padding: 8px 16px;
	border-radius: 4px;
	background-color: var(--surface-black);
	&:hover {
		color: black;
		background-color: #646cff;
	}
}

#sidebar-super {
	a:not(header a) {
		@include sidebar-button-styling();
	}
	button:not(header button) {
		@include sidebar-button-styling();
		border: none;
		min-height: 32px;
	}
}

#sidebar-container {
	min-width: 264px;
	height: 100%;
	padding: 8px 16px;
	position: relative;
	overflow: hidden;

	header {
		text-align: center;
		margin-top: 8px;
		margin-bottom: 16px;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}

#sidebar-container #link-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 100%;
	overflow-y: auto;
	padding-bottom: 224px;
	// scrollbar adjustment
	margin-right: -16px;
	scrollbar-gutter: stable;

	a {
		display: flex;
		align-items: center;
		gap: 8px;
		width: 100%;
	}

	a,
	button {
		img.icon {
			height: 24px;
			width: 24px;
		}
	}
}

#sidebar-mobile-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--black);
	transition: transform 500ms ease-in-out;

	&.close {
		transform: translateY(100%);
		position: absolute;
	}

	#sidebar-container #link-container {
		margin-right: 0;
	}

	#open-button {
		position: absolute;
		// set to right, above the viewport when 'open' so it animates with container
		right: 0;
		top: 0;
		height: 56px;
		width: 56px;
		padding: 8px 0 0 8px;
		border-radius: 0;
		border-top-left-radius: 28px;
		border: none;
		transform: translateY(-100%);
		background-color: var(--surface-black);
		font-weight: 700;
	}

	@keyframes thumb-click {
		0% {
			box-shadow: none;
		}
		50% {
			box-shadow: inset 0px 0px 4px 4px var(--surface-black),
				inset 4px 4px 8px 8px var(--primary);
		}
		100% {
			box-shadow: none;
		}
	}

	#open-button.click {
		animation: 250ms ease-in-out forwards thumb-click;
	}

	footer {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: flex-end;
		padding: 8px;
		background-color: var(--black);

		button {
			width: 100%;
		}
	}
}

.link-section-links {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.title-year {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
