/* Sans-serif for labels */
@font-face {
	font-family: 'futura';
	src: url('/font/futura/FuturaStdMedium.otf') format('opentype');
	font-weight: 500;
}
@font-face {
	font-family: 'futura';
	src: url('/font/futura/FuturaStdBold.otf') format('opentype');
	font-weight: 600 700;
}
/* Serif for paragraphs */
@font-face {
	font-family: garamond;
	src: url('/font/garamond/EBGaramond-Italic') format('truetype');
	font-weight: 100 500;
	font-style: italic;
}
@font-face {
	font-family: garamond;
	src: url('/font/garamond/EBGaramond-BoldItalic') format('truetype');
	font-weight: 600 700;
	font-style: italic;
}
@font-face {
	font-family: garamond;
	src: url('/font/garamond/EBGaramond-Regular') format('truetype');
	font-weight: 100 500;
}
@font-face {
	font-family: garamond;
	src: url('/font/garamond/EBGaramond-Bold') format('truetype');
	font-weight: 600 700;
}
